{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
</head>
<body>
    <h2>Editar Caja: {{ caja.nombre }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Muestra todos los campos del formulario -->
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <a href="{% url 'listar_caja' %}" class="btn btn-danger">Cancelar</a>
    </form>
</body>
</html>