{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
</head>
<body>
    <div class="container">
        <h2>Agregar Pieza a la Caja: {{ caja.nombre }}</h2>
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">{{ form.codigo.label }}</label>
                {{ form.codigo }}
                {% if form.codigo.errors %}
                    <div class="text-danger">{{ form.codigo.errors }}</div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.nombre.label }}</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label class="form-label">{{ form.tipo.label }}</label>
                {{ form.tipo }}
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <a href="{% url 'contenido_caja' caja.id %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>